@media screen and (max-width: 1612px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 1506px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1320px) {
    html {
        font-size: 13px;
    }
}



@media screen and (max-width: 1186px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 1044px) {
    .button__container {
        display: none;
    }

    .menu__item {
        display: none;
    }

    .block-text__wrapper {
        width: 100%;
    }

    .block-img__wrapper {
        display: none;
    }

    .burger__wrapper {
        display: block;
        cursor: pointer;
    }

    .burger__item:first-child {
        margin-top: 0;
    }

    .burger__item {
        display: block;
        width: 1.875rem;
        height: 2px;
        background-color: #B105F9;
        border-radius: 20px;
        margin-top: 0.3125rem;
    }

    #home {
        background: url(../img/smile-adaptive.svg) no-repeat right;
    }

    .about-section {
        background: url(../img/smile-adaptive.svg) no-repeat right top;
    }

    .develop-section {
        background: url(../img/adaptive-cat.svg) no-repeat right;
    }

    .adaptive-button__container {
        display: flex;
        justify-content: flex-start;
    }

    .about-section-content__wrapper {
        display: block;
    }

    .about-section-text__wrapper {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12.7273rem;
    }

    iframe {
        width: 100%;
        height: 34.8182rem;
    }

    .adaptive-join-button__container {
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;
    }
    .go-button__wrapper{
        display: block;
    }

}

@media screen and (max-width: 630px) {
    .registration-pop-up__wrapper{
        background-color: transparent;
    }
    .pop-up__wrapper{
        position: relative;
        background: no-repeat bottom url(../img/background-logo.svg);
        min-width: 100vw;
        min-height: 100vh;
    }
    .arrow-left__wrapper img{
        display: block;
    }
}

@media screen and (max-width: 470px) {
    html {
        font-size: 10px;
    }

    .join-button,
    .join-button__wrapper,
    .join-button__layer {
        width: 100%;
    }

    .checkmark{
        margin-left: -4.5rem;
    }
}

@media screen and (max-width: 408px) {
    html {
        font-size: 8px;
    }
    .checkmark{
        margin-left: -4rem;
    }
}
@media screen and (max-width: 330px) {
    html {
        font-size: 7px;
    }
    .registration-pop-up__container{
        width: 30rem;
    }
    .chekbox-wrapper .checkmark::after{
        top: 0.17rem;
    }
}

@media screen and (max-width: 270px) {
    .registration-pop-up__container{
        width: 20rem;
    }
}