@media screen and (max-width: 1612px) {
    html {
        font-size: 15px;
    }

    .nav-first__item {
        font-size: 9px;
    }
}

@media screen and (max-width: 1506px) {
    html {
        font-size: 14px;
    }

    .nav-first__item {
        font-size: 8px;
    }
}

@media screen and (max-width: 1320px) {
    html {
        font-size: 13px;
    }

    .nav-first__item {
        font-size: 7px;
    }
}

@media screen and (max-width: 1186px) {
    html {
        font-size: 12px;
    }

    .first__img,
    .last-img {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1050px) {
    html {
        font-size: 11px;
    }

    .adaptive-button-general {
        transform: scale(0.8);
        z-index: 20;
    }
}

@media screen and (max-width: 1044px) {
    .button__container {
        display: none;
    }

    .adaptive-button-general {
        transform: scale(0.8);
    }

    .menu__item {
        display: none;
    }

    .block-text__wrapper {
        width: 100%;
    }

    .header-content-wrapper,
    .block-img__wrapper {
        display: none;
    }

    .burger__wrapper {
        display: block;
        cursor: pointer;
    }

    .burger__item:first-child {
        margin-top: 0;
    }

    .burger__item {
        display: block;
        width: 1.875rem;
        height: 2px;
        background-color: #B105F9;
        border-radius: 20px;
        margin-top: 0.3125rem;
    }

    header {
        background: url(../img/smile-adaptive.svg) no-repeat right;
    }

    .about-section {
        background: url(../img/smile-adaptive.svg) no-repeat right top;
    }

    .develop-section {
        background: url(../img/adaptive-cat.svg) no-repeat right;
    }

    .adaptive-menu,
    .nav__item__responsive {
        display: flex;

    }

    .adaptive-murr-logo {
        display: inline-block;
    }

    .adaptive-button__container {
        display: flex;
        justify-content: flex-start;
    }

    .adaptive-button__item {
        display: inline-block;
    }

    .adaptive-button {
        width: 14.5455rem;
        height: 14.5455rem;
        background: #b105f9;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .adaptive-button-general {
        width: 14.5455rem;
        height: 14.5455rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 3.6364rem;
        right: 1.3636rem;
        cursor: pointer;
        box-shadow: 0 20px 20px #7506a4;

    }

    .adaptive-button__logo {
        width: 14.5455rem;
        height: 14.5455rem;
        background: #7506a4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 1.1818rem;
        z-index: -2;
    }

    .adaptive-button-logo-wraper img {
        width: 140px;
        height: 140px;
        z-index: 1;
    }

    .adaptive-button-general:active .adaptive-button {
        bottom: -0.9091rem;
    }

    .adaptive-button-general:active .adaptive-button-logo-wraper {
        margin-top: 2.1818rem;
    }

    .about-section-content__wrapper {
        display: block;
    }

    .about-section-text__wrapper {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12.7273rem;
    }

    iframe {
        width: 100%;
        height: 34.8182rem;
    }

    .adaptive-join-button__container {
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;
    }

}

@media screen and (max-width: 470px) {
    html {
        font-size: 10px;
    }

    .adaptive-button-general {
        transform: scale(0.7);
    }

    .adaptive-button-logo-wraper img {
        transform: scale(0.96);
    }

    .join-button,
    .join-button__wrapper,
    .join-button__layer {
        width: 100%;
    }
}

@media screen and (max-width: 410px) {

    .help-button__layer {
        left: 50%;
        margin-left: -6.1rem;
    }

    .adaptive-button-general {
        z-index: 20;
    }

    .adaptive-button-general {
        transform: scale(0.7);
    }

}

@media screen and (max-width: 408px) {
    html {
        font-size: 8px;
    }

    .adaptive-button-general {
        transform: scale(0.6);
    }

    .adaptive-button-logo-wraper img {
        transform: scale(0.77);
    }
}