html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
a {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

h1,
h2 {
    color: #b105f9;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p,
a,
button {
    color: #e0e0e0;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    margin-top: 5.5rem;
    position: relative;
    height: 6rem;
    z-index: 40;
}

.menu__item {
    margin-left: 2.1875rem;
    font-size: 1.125rem;
    transition: all 0.3s;
    position: relative;
}

.menu__item::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #b105f9;
    content: "";
    transition: width 0.3s ease-out;
    border-radius: 3px;
}

.menu__item:hover:after,
.menu__item:focus:after {
    width: 100%;
}

.menu__item:hover {
    color: #b105f9;
}

.menu__link,
.button__container {
    display: flex;
    align-items: center;
}

.menu__link {
    font-size: 10px;
}

.button__wrapper {
    position: relative;
}

.button__item {
    height: 2.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.563rem;
    transition: background-color 0.3s;
}

.button__item:active {
    transform: translateY(0.4rem);
}

.burger__wrapper {
    display: none;
}

.button__container .enter-button {
    background-color: #00a54a;
    width: 7.375rem;
}

.button__container .enter-button:hover {
    background-color: #00dd63;
}

.button__container .enter-button:active {
    background-color: #00a54a;
}

.read-button {
    background-color: #292929;
    width: 17rem;
}

.read-button {
    margin-left: 2.25rem;
}

.optimized-button {
    background-color: #b105f9;
    width: 12.1875rem;
}

.button__container .read-button,
.button__container .optimized-button {
    font-size: 1.4375rem;
    height: 3.375rem;
}

.button__container .registration-button {
    margin-left: 1.5rem;
    background-color: #292929;
    width: 11.5625rem;
}

.button__container .registration-button:hover,
.button__container .read-button:hover {
    background-color: #414141;
}

.button-layer {
    position: absolute;
    height: 2.4375rem;
    border-radius: 1.563rem;
    z-index: -1;
}

.enter-button__layer {
    left: 0;
    top: 0.375rem;
    background-color: #007a37;
    width: 7.375rem;
}

.optimized-button__layer {
    left: 0;
    top: 0.5rem;
    background-color: #7506a4;
    width: 12.1875rem;
    height: 3.3125rem;
}

.read-button__layer {
    right: 0;
    top: 0.5rem;
    background-color: #1d1d1d;
    width: 17rem;
    height: 3.3125rem;
}

.join-button__layer {
    left: 0;
    top: 0.5rem;
    background-color: #7506a4;
    width: 19.25rem;
    height: 3.1875rem;
}

.registration-button__layer {
    right: 0;
    top: 0.375rem;
    background-color: #1d1d1d;
    width: 11.5625rem;
}

h3 {
    color: #ffffff;
    font-size: 1.875rem;
    font-weight: normal;
    margin-top: 2.5rem;
    margin-bottom: 2.875rem;
}

.title {
    font-weight: bold;
    font-size: 3rem;
}

.block-img__wrapper {
    width: 40%;
}

.home-text__wrapper {
    width: 50%;
}

.develop-text__wrapper {
    width: 50%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3.25rem;
}

p {
    font-size: 1.875rem;
}

.about-section,
.develop-section {
    min-height: 100vh;
    display: flex;
}

.about-section-content__wrapper {
    display: flex;
}

.section-content-first {
    margin-top: 3.188rem;
}

.about-section-text__wrapper {
    width: 50%;
    margin-right: 12.06rem;
}

.subtitle {
    width: 90%;
}

* {
    outline: none;
}

iframe {
    width: 50%;
    border-width: 0;
    outline-width: 0;
}

.menu__link img {
    width: 2.875rem;
    transition: all 0.25s;
}

.menu__link img:hover {
    transform: scale(1.15);
}

.join-button {
    margin-left: 0;
    width: 19.25rem;
    background-color: #b105f9;
    font-size: 1.375rem;
}

header,
.develop-section {
    display: flex;
}

header {
    min-height: calc(100vh - 7.563rem);
}

.button__container .optimized-button:hover,
.join-button:hover {
    background-color: #c743ff;
}

.optimized-button:active,
.join-button:active {
    background-color: #b105f9;
}